/*--------------------------------------------------------------
# Dark Mode
--------------------------------------------------------------*/

body {
	--black: #000;
	--bg: #252525;
	--fg: var(--white);
	--accent1: var(--lightest-blue);
	--accent1s1: var(--light-blue);
	--accent1s2: var(--dark-blue);
	--accent2: var(--light-green);
	--accent2s1: var(--green);
	--accent3: var(--light-peach);
	--accent3s1: var(--peach);
	--accent4: var(--light-yellow);
	--accent4s1: var(--yellow);
	--accent5: var(--light-pink);
	--accent6: var(--blossom);
	--accent7: var(--yellow-green);
	--s1: var(--dark-gray);
	--s2: var(--gray);
	--s3: var(--light-gray);

	--entry-header-bg: var(--black);
	--entry-header-gradient: linear-gradient(to top, var(--bg) 0%,var(--bg) 25px,var(--black) 26px,var(--black) 100%);
	--home-entry-header-gradient: linear-gradient(to top, var(--bg) 0%,var(--bg) 130px,var(--black) 131px,var(--black) 100%);
	--footer-bg: var(--black);
	--footer-bg-gradient: linear-gradient(to bottom, var(--bg) 0%,var(--bg) 90px,var(--black) 91px,var(--black) 100%);
	--home-entry-header-bg: var(--accent4s1);
	--button-bg: var(--bg);
	--button-color: var(--fg);
	--button-bg-hover: var(--accent4s1);
	--button-color-hover: var(--bg);
	--dark-mode-button-bg: var(--accent1s1);
	--dark-mode-button-color: var(--bg);
	--home-entry-header-cta-color: var(--bg);
	--input-color: var(--bg);
	--entry-title-color: var(--accent7);
	--input-border-color: var(--bg);
	--share-counts-wrap-color: var(--fg);
	--wpad-archive: var(--bg);
}

/* Light color assignments. */
.has-dark-blue-background-color,
.has-white-color {
	color:var(--fg)
}

/* Dark color assignments */
.has-light-pink-background-color,
.has-light-blue-background-color,
.has-lightest-blue-background-color,
.has-light-green-background-color,
.has-peach-background-color,
.has-light-peach-background-color,
.has-yellow-background-color,
.has-light-yellow-background-color,
.has-yellow-green-background-color,
.has-light-gray-background-color,
.has-blossom-background-color,
.has-black-color {
	color:var(--bg)
}

#page #gform_wrapper_1 .gfield_required,
#page #gform_wrapper_24 .gfield_required {
	color: var(--bg);
}

h2 {
	color: var(--accent1s1);
}

h3 {
	color: var(--accent3s1);
}

.sponsorship *:not(h2),
.wp-block-latest-posts__list * {
	color: var(--black);
}

.microsponsors {
	background: var(--accent4);
	border-color: var(--accent4);
}

.footer-sidebar .widget-sidebar-column:nth-of-type(2) *:not(input) {
	color: var(--black);
}

.footer-sidebar .widget-sidebar-column:nth-of-type(2) {
	background: var(--accent3s1);
}

#footer-navigation a,
#footer-utility-navigation a {
	color: var(--accent4s1);
}

.is-style-button-underline a {
	border-bottom: 4px solid var(--accent1s1);
}

.main-navigation .dropdown-toggle:hover,
.main-navigation .dropdown-toggle:focus {
	color: var(--accent1s2);
}

.entry-header-cta #figure-pattern {
	fill: var(--fg);
}

.entry-header svg g:not(.entry-header-cta svg g) {
	fill: var(--bg);
}

.gform_wrapper .gfield.buttonized input[type="radio"]:checked+label,.gform_wrapper .gfield.buttonized input[type="checkbox"]:checked+label {
	color:var(--bg);
}

.gform_wrapper .gfield.buttonized .gfield_radio label,.gform_wrapper .gfield.buttonized .gfield_checkbox label {
	color: var(--bg);
}

.single-wpcsp_sponsor #masthead,
.single-wpcsp_sponsor .nav-breadcrumbs,
.page-template-page-pink #masthead,
.page-template-page-pink .entry-header,
.page-template-page-pink .entry-header .entry-title,
.page-template-page-pink .entry-header h1, 
.page-template-page-pink .entry-header .page-excerpt,
.page-template-page-pink .nav-breadcrumbs {
	background: var(--black);
	color: var(--template-pink-entry-header);
}

.page-template-page-blue #masthead,
.page-template-page-blue .entry-header,
.page-template-page-blue .entry-header .entry-title,
.page-template-page-blue .entry-header h1, 
.page-template-page-blue .entry-header .page-excerpt,
.page-template-page-blue .nav-breadcrumbs {
	background: var(--black);
	color: var(--accent1s1)
}

.blog #masthead,
.blog #primary > .entry-header,
.blog .nav-breadcrumbs,
.page-template-page-green #masthead,
.page-template-page-green .entry-header,
.page-template-page-green .entry-header .entry-title,
.page-template-page-green .entry-header h1, 
.page-template-page-green .entry-header .page-excerpt,
.page-template-page-green .nav-breadcrumbs {
	background: var(--black);
	color: var(--template-green-entry-header-bg)
}

.organizer #masthead,
.organizer .nav-breadcrumbs,
.page-template-page-peach #masthead,
.page-template-page-peach .entry-header,
.page-template-page-peach .entry-header .entry-title,
.page-template-page-peach .entry-header h1, 
.page-template-page-peach .entry-header .page-excerpt,
.page-template-page-peach .nav-breadcrumbs {
	background: var(--black);
	color: var(--template-peach-entry-header-bg)
}

.page-template-page-green .entry-header,
.page-template-page-peach .entry-header,
.page-template-page-blue .entry-header,
.page-template-page-pink .entry-header {
	background: var(--entry-header-gradient)
}

.wp-block-group.schedule.active {
	background: var(--black);
	color: var(--accent5);
}

.highlight-text p {
	color: var(--bg);
}

#primary .gform_wrapper.gravity-theme .ginput_total {
	color: var(--accent1s1);
}


.wpcsp_speaker .entry-content {
	background: var(--black);
}

.wpcsp_sponsor .entry-content {
	background: var(--black);
}

.wpcsp_speaker.wpcsp_speaker_level-organizers .entry-content,
.wpcsp_speaker.wpcsp_speaker_level-lead-organizers .entry-content {
	background: var(--black);
}

.single-wpcsp_sponsor .wpcsp-sponsor-swag {
    background: var(--accent1s2);
}

.single-wpcsp_sponsor .wpcsp-sponsor-swag h2 {
    color: var(--accent4s1);
}

.wpcsp-sponsor-description a {
	background-color: var(--fg);
}

.entry-content > .search-form {
	color: var(--accent4);
	background: var(--s1);
}

select:focus {
	color: white;
}

#wpad-notice p,
#wpad-archive p {
	color: var(--bg);
}

.able-transcript {
	background: var(--bg);
}

.able-transcript .able-highlight {
	color: var(--accent4) !important;
	outline: 1px solid;
}

#page .footer-sidebar .widget-sidebar-column:nth-of-type(2) .gform_wrapper.gravity-theme .gfield_required {
	color: var(--bg);
}

#simpletoc-content-container.simpletoc-content {
	background-color: var(--black);
}

.gform_wrapper.gravity-theme .gfield_error .gfield_repeater_cell label, .gform_wrapper.gravity-theme .gfield_error label, .gform_wrapper.gravity-theme .gfield_error legend, .gform_wrapper.gravity-theme [aria-invalid="true"] + label, .gform_wrapper.gravity-theme label + [aria-invalid="true"] {
	color: var(--accent5) !important;
}

@media screen and (max-width: 60em) {
	.single-wpcsp_sponsor .wpcsp-sponsor-grid:nth-of-type(1) {
		background: var(--black);
	}
}

/* 1Password overrides background, but not color. */
input[data-com-onepassword-filled="dark"] {
	color: #fff;
}