/* Gravity Forms */
#input_8_36 {
	columns:2
}

#page .gform_wrapper.gravity-theme .gfield_required {
	color: var(--fg);
	font-style: normal;
	text-transform: lowercase;
	font-size: 14px;
	font-size: .875rem;
}

.gform_wrapper.gravity-theme .field_description_above .gfield_description,.gform_wrapper.gravity-theme .gfield_label {
	margin-bottom:0;
	padding-bottom:0
}

.gform_wrapper .gfield.gf_list_3col #input_8_38.gfield_checkbox,.gform_wrapper .gfield.gf_list_3col .gfield_radio {
	grid-column-gap:10px
}

#primary .gform_wrapper.gravity-theme .gfield-choice-input + label {
	vertical-align:text-top
}

.gform_wrapper.gravity-theme .gfield {
	margin-bottom:16px
}

.gform_wrapper .gfield.buttonized .gfield_radio .gchoice,.gform_wrapper .gfield.buttonized .gfield_checkbox .gchoice {
	position:relative;
	text-align:center
}

.gform_wrapper .gfield.buttonized input[type="radio"],.gform_wrapper .gfield.buttonized input[type="checkbox"] {
	position:absolute;
	left:-9999px
}

.gform_wrapper .gfield.buttonized .gfield_radio label,.gform_wrapper .gfield.buttonized .gfield_checkbox label {
	display:block!important;
	position:relative;
	max-width:100%;
	font-size:28px;
	border:2px solid var(--accent1);
	border-radius:5px;
	background:var(--accent1s1);
	color: var(--fg);
	cursor:pointer;
	margin-bottom:.5em
}

.gform_wrapper .gfield.buttonized input[type="radio"]:checked+label,.gform_wrapper .gfield.buttonized input[type="checkbox"]:checked+label {
	border-color:var(--accent1);
	background-color:var(--accent1);
	color:var(--bg);
	overflow:hidden
}

.gform_wrapper .gfield.buttonized input[type="radio"]:checked+label::before,.gform_wrapper .gfield.buttonized input[type="checkbox"]:checked+label::before {
	content:"\2713\0020";
	display:block;
	position:absolute;
	left:auto;
	width:1.5em;
	height:1.5em
}

.gform_wrapper .gfield.buttonized input[type="radio"]:focus+label,.gform_wrapper .gfield.buttonized input[type="checkbox"]:focus+label,.gform_wrapper .gfield.buttonized input[type="radio"]:hover+label,.gform_wrapper .gfield.buttonized input[type="checkbox"]:hover+label {
	border-color:var(--accent1);
	outline-offset:2px;
	outline:2px solid var(--accent1)
}

/**
 * gform_1: subscription form, main.
 * gform_18: subscription form, footer (main site), Update Attendee (event site)
 * gform_24: subscription form, footer (event site).
 */
@media only screen and (max-width: 600px) {
	#gform_1, #gform_24, footer #gform_18 {
		display:block!important
	}

	#gform_24 .gform_footer,#gform_24 .gform_page_footer,
	footer #gform_18 .gform_footer, footer #gform_18 .gform_page_footer,
	#gform_1 .gform_footer,#gform_1 .gform_page_footer {
		margin:0!important;
		padding:0!important
	}
}

footer #gform_18,
#gform_24,
#gform_1 {
	display:flex
}

footer #gform_18 .gform-body,
#gform_24 .gform-body,
#gform_1 .gform-body {
	width:75%
}

footer #gform_18 .gform-footer,
#gform_24 .gform-footer,
#gform_1 .gform-footer {
	padding:0
}

footer #gform_18 .gform_footer input,
#gform_24 .gform_footer input,
#gform_1 .gform_footer input {
	margin:0 0 16px;
	padding:14px 24px;
	line-height:1
}

/* Override Gravity Forms insufficient color contrast. */
#primary .gform_wrapper.gravity-theme .gf_step_active .gf_step_number {
	background: #dfe3e9;
	border-color: #dfe3e9;
	color: #405362;
}

#primary .gform_ajax_spinner {
	margin-left: 10px;
}

#primary .gform_wrapper.gravity-theme .gfield_required {
	padding-left: .25rem;
}

#signup-welcome p span {
	font-weight: 700;
}