/*--------------------------------------------------------------
# Dark Mode
--------------------------------------------------------------*/

body {
	--black: #000;
	--bg: #252525;
	--fg: var(--white);
	--accent1: var(--lightest-blue);
	--accent1s1: var(--light-blue);
	--accent1s2: var(--dark-blue);
	--accent2: var(--light-green);
	--accent2s1: var(--green);
	--accent3: var(--light-peach);
	--accent3s1: var(--peach);
	--accent4: var(--light-yellow);
	--accent4s1: var(--yellow);
	--accent5: var(--light-pink);
	--accent6: var(--blossom);
	--accent7: var(--yellow-green);
	--s1: var(--dark-gray);
	--s2: var(--gray);
	--s3: var(--light-gray);

	--entry-header-bg: var(--black);
	--entry-header-gradient: linear-gradient(to top, var(--bg) 0%,var(--bg) 25px,var(--black) 26px,var(--black) 100%);
	--home-entry-header-gradient: linear-gradient(to top, var(--bg) 0%,var(--bg) 130px,var(--black) 131px,var(--black) 100%);
	--footer-bg: var(--black);
	--footer-bg-gradient: linear-gradient(to bottom, var(--bg) 0%,var(--bg) 90px,var(--black) 91px,var(--black) 100%);
	--home-entry-header-bg: var(--accent4s1);
	--button-bg: var(--bg);
	--button-color: var(--fg);
	--dark-mode-button-bg: var(--accent1s1);
	--dark-mode-button-color: var(--bg);
	--home-entry-header-subscribe-color: var(--bg);
	--input-color: var(--bg);
	--entry-title-color: var(--accent7);
}

.wp-block-latest-posts__list * {
	color: var(--black);
}

.footer-sidebar .widget-sidebar-column:nth-of-type(2) *:not(input) {
	color: var(--black);
}

.footer-sidebar .widget-sidebar-column:nth-of-type(2) {
	background: var(--accent3s1);
}

.underline-button,
a:has(.text-format-sr-only) {
	border-bottom: 4px solid var(--accent1s1);
}

.main-navigation .dropdown-toggle:hover,
.main-navigation .dropdown-toggle:focus {
	color: var(--accent1s2);
}