/*--------------------------------------------------------------
# Dark Mode
--------------------------------------------------------------*/

body {
  --bg: #333;
	--fg: var(--white);
	--accent1: var(--lightest-blue);
	--accent1s1: var(--light-blue);
	--accent1s2: var(--dark-blue);
	--accent2: var(--light-green);
	--accent2s1: var(--green);
	--accent3: var(--light-peach);
	--accent3s1: var(--peach);
	--accent4: var(--light-yellow);
	--accent4s1: var(--yellow);
	--accent5: var(--light-pink);
	--accent6: var(--blossom);
	--s1: var(--dark-gray);
	--s2: var(--gray);
	--s3: var(--light-gray);
}
