.home .wpcsp-speaker-title-organization {
	display:none
}

.home .wpcsp-speakers .wpcsp-speaker-name {
	margin-top:-72px
}

.home .wpcsp-speakers .wpcsp-speaker-name a {
	background:#fff;
	padding:2px 10px;
	text-decoration:none;
	font-size:.8em
}

.home .wpcsp-speakers .wpcsp-speaker-name a:hover,.home .wpcsp-speakers .wpcsp-speaker-name a:focus {
	text-decoration:underline;
	outline-color:#fff
}

.home .wpcsp-speakers .wpcsp-speaker-image {
	margin-bottom:15px
}

.single-wpcsp_sponsor .has-post-thumbnail .wpcsp-sponsor-grid,
.single-wpcsp_speaker .has-post-thumbnail .wpcsp-speaker-grid {
	max-width:1120px;
	grid-column-gap: 40px;
}

.wpcsp-session-speaker img,.wpcsp-speaker-grid img,.wpcsp-speakers .wpcsp-speaker-image {
	border-radius: 0;
	margin-bottom:5px
}

.wpcsp-media .logo {
	padding: 1rem;
	background: #fff;
	display: grid;
	align-items: center;
	min-height: 360px;
	border: 4px solid var(--sponsorship-microsponsors-border-color);
}

.wpcs-session-sponsor,
.wpcsp-sponsor-single-row {
	text-align: center;
	padding: 1rem;
	background: var(--bg);
	border: 4px solid var(--sponsorship-microsponsors-border-color);
}

.lightning-talk-speakers {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 16px;
}

.wpcsp-sponsor-grid:nth-of-type(1) .wpcsp-media {
	order: -1;
}

.single-wpcsp_sponsor .wpcsp-sponsor-swag {
	border: none;
	margin-top: 40px;
	background: var(--accent4);
	color: var(--fg);
	border-radius: 0;
}

.single-wpcsp_sponsor .wpcsp-sponsor-swag h2 {
	font-size: 1.5rem;
}

#primary .wpcsp-sponsors .wpcsp-sponsor-level {
	max-width: 1120px;
	margin: 0 auto;
}

#primary .wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading {
	padding-top: 80px;
	border-top: 4px solid var(--s1);
	margin: 80px auto 40px;
}

#primary .wpcsp-sponsors .wpcsp-sponsor-level.wpcsp-sponsor-level-platinum h2 {
	border-top: none;
	margin-top: 0;
}

#primary .wpcsp-sponsors .wpcsp-sponsor-level .wpcsp-sponsor-level-heading {
	
}

#primary .wpcsp-media .logo img {
	margin: 0;
}

#primary .lightning-talk {
	padding: 16px;
}

#primary .lightning-talk .talk-description {
	padding: 0;
}

.wpcsp-sponsor-social-icon .dashicons,
.wpcsp-speaker-social-icon .dashicons {
	font-size:24px;
	width:24px;
	height:24px
}

.wpcsp-speaker-pronouns {
	font-size:1.5rem;
	text-transform:lowercase;
}

.lead-organizers .wpcsp-speaker:nth-of-type(1n) img {
	filter: url('#wp-duotone-pink');
}

.lead-organizers .wpcsp-speaker:nth-of-type(2n) img {
	filter: url('#wp-duotone-yellow-green');
}

.lead-organizers .wpcsp-speaker:nth-of-type(3n) img {
	filter: url('#wp-duotone-light-orange');
}

.organizers .wpcsp-speaker:nth-of-type(6n+1) img {
	filter: url('#wp-duotone-yellow');
}

.organizers .wpcsp-speaker:nth-of-type(6n+2) img {
	filter: url('#wp-duotone-blue');
}

.organizers .wpcsp-speaker:nth-of-type(6n+3) img {
	filter: url('#wp-duotone-green');
}

.organizers .wpcsp-speaker:nth-of-type(6n+4) img {
	filter: url('#wp-duotone-pink');
}

.organizers .wpcsp-speaker:nth-of-type(6n+5) img {
	filter: url('#wp-duotone-yellow-green');
}

.organizers .wpcsp-speaker:nth-of-type(6n+6) img {
	filter: url('#wp-duotone-light-orange');
}


.wpcsp_speaker .wp-block-latest-posts.wp-block-latest-posts__list li {
	list-style:square
}

.wpcsp_speaker .wpcsp-speaker-country .dashicons-location {
	width:30px;
	padding-top:3px
}

.wpcsp_speaker .wpcsp-speaker-country .dashicons-location:before {
	font-size:30px
}

.wpcs-session-sponsor {
	padding:5px;
	border-radius:12px;
	margin-bottom:1rem;
}

.wp-block-group.schedule {
	padding:40px 60px;
	max-width: 1120px;
	border-bottom: 4px solid var(--s1);
}

.wp-block-group.schedule.active {
	background: var(--accent5);
}

.wp-block-group.schedule:last-of-type() {
	border-bottom: none;
}

.schedule .talk-header a,
.schedule .talk-header {
	display: block;
}

.schedule .talk-header .talk-speakers {
	margin-top: 24px;
}

.schedule .talk-header h2 .time-wrapper {
	display: flex;
	column-gap: 24px;
	align-items: end;
}

.schedule .talk-header h2 .localtime {
	margin-bottom: .25rem;
	font-weight: 400;
}

.schedule .talk-header h2 {
	padding-left: 8px;
	margin-bottom: 24px;
	border-left: 8px solid var(--accent6);
}

.schedule .talk-wrapper {
	padding: 16px;
	display:grid;
	grid-template-columns: 1fr auto;
	column-gap: 32px;
}

.schedule .talk-wrapper div:nth-of-type(2) {
	align-self: end;
}

.schedule .talk-description {
	font-size: 1.125rem;
	padding: 16px;
}

.schedule .wp-block-columns.inside {
	column-gap: 40px;
}

.schedule .wp-block-columns.inside .wp-block-column:nth-of-type(2) {
	max-width: 40%;
}

@media screen and (max-width: 60em) {
	.schedule .wp-block-columns.inside .wp-block-column:nth-of-type(2) {
		max-width: 100%;
	}
	.schedule .talk-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}

.wpcsp-sponsor-description a img, .lightning .wp-block-columns {
	display:block
}

.schedule .inside.hidden {
	display:none
}

.wpcsp-sponsor-description a {
	display:inline-block
}

.schedule img {
	max-width: 100px;
}

.schedule .wp-block-column h3 {
	margin-top:0
}

.single-wpcs_session .wpcsp-session-speaker,
.schedule .wpcsp-session-speaker {
	column-gap: 24px;
}

.wpcsp-speaker-grid:nth-of-type(2) > div:nth-of-type(2) {
	margin-top: -24px;
}

.single-wpcsp_speaker .wpcsp-speaker-details p {
	font-weight: 400;
	font-size: 1.125rem;
}

.wpcsp_sponsor .wpcsp-sponsor-social-icon-link, .single-wpcsp_speaker .wpcsp-speaker-social-icon-link {
	line-height: 1;
}

.wpcsp_sponsor .wpcsp-sponsor-social-icon, .single-wpcsp_speaker .wpcsp-speaker-social-icon {
	margin-right: 6px;
}

.wpcsp-sponsor-website-link {
	margin-bottom: 40px;
}

.wpcsp_speaker .entry-content {
	background: var(--wpcsp-speaker-gradient);
}

.wpcsp_sponsor .entry-content {
	background: var(--wpcsp-sponsor-gradient);
}

.wpcsp_speaker.wpcsp_speaker_level-organizers .entry-content,
.wpcsp_speaker.wpcsp_speaker_level-lead-organizers .entry-content {
	background: var(--wpcsp-organizer-gradient);
}

.wpcsp_sponsor .wpcsp-sponsor-social, .single-wpcsp_speaker .wpcsp-speaker-social {
	margin-top: 24px;
	margin-bottom: 96px;
}

.wpad-microsponsors {
	align-items:center
}

.wpad-microsponsors,.wpad-attendees {
	display:grid;
	padding:0;
	list-style:none
}

.wpad-microsponsors li {
	list-style:none;
	text-align:center
}

.wpad-attendees li {
	padding:12px;
	display:grid;
	grid-template-columns:64px 1fr;
	column-gap:16px;
	font-size:1rem
}

.wpad-attendees li h2,.wpad-attendees li h3 {
	margin:0;
	font-size:1.1rem
}

.wpad-attendees .attendee-info div {
	font-size:.9rem
}

.wpad-attendees img {
	border-radius:8px
}

#page .wpad-donors {
	list-style:none;
	margin:0;
	padding:0
}

#page .wpad-donors li {
	margin-bottom:1rem
}

#page .wpad-donors li span.date {
	font-size:.9rem;
	margin-left:1rem
}

#page .wpad-donors li span.info {
	font-size:1rem
}

.current-talk {
	background:#fff;
	padding:1em;
	margin:0 -1em
}

.wp-block-column .slides a {
	font-size:1rem;
	padding:4px 6px;
	border:1px solid var(--color-dark-purple);
	background:#fff;
	text-decoration:none
}

.wp-block-column .slides a:hover,.wp-block-column .slides a:focus {
	border-bottom:3px solid
}

.session_id {
	font-family:courier;
	margin-left:5px;
	color:#333;
	border:1px solid #aaa;
	font-size:1rem;
	padding:5px
}

.wpcsp_sponsor .wpcsp-sponsor-grid img {
	margin-top:1.5em
}

.wpcsp_sponsor .wpcsp-sponsor-grid,.page-id-1168 .nav-breadcrumbs,.page-id-1168 .entry-header,.page-id-1168 .entry-content > * {
	max-width:1280px
}

.lead-organizers .wp-block-group__inner-container {
	display:grid;
	grid-template-columns:1fr
}

.team-organizers .wp-block-group__inner-container {
	display:grid;
	grid-template-columns:1fr 1fr
}

.people-profile {
	text-align:center;
	margin-bottom:2em
}

.people-profile img {
	border-radius:120px
}

.people-profile h3 {
	font-size:1em;
	line-height:1;
	padding:0;
	margin:.5em 0
}

.people-profile p {
	font-size:.85em;
	margin:0
}

.donate-list {
	font-weight:100!important
}

#opening-remarks {
	background: transparent;
}

#opening-remarks .talk-speakers,
#opening-remarks.schedule .talk-wrapper div:nth-of-type(2) {
	display:none;
}

#opening-remarks.schedule .wp-block-columns.inside {
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (min-width: 60em) {
	.lead-organizers .wp-block-group__inner-container {
		grid-template-columns:1fr 1fr 1fr
	}

	.team-organizers .wp-block-group__inner-container {
		grid-template-columns:1fr 1fr 1fr 1fr
	}
}

@media screen and (min-width: 50em) {
	.wpad-attendees {
		grid-template-columns:repeat(3,1fr)
	}

	.wpad-microsponsors {
		grid-template-columns:repeat(5,1fr)
	}
}

@media screen and (max-width: 60em) {
	#sponsorship-levels .gb-container-c9734134 {
		margin-right:0;
		margin-left:0
	}

	#sponsorship-levels .gb-grid-column-c9734134 {
		margin-bottom:30px
	}

	#sponsorship-levels .gb-grid-column-c9734134:last-of-type() {
		margin-bottom:0
	}

	.wpcsp_sponsor .wpcsp-sponsor-social, .single-wpcsp_speaker .wpcsp-speaker-social {
		margin-bottom: 24px;
	}

	.single-wpcsp_sponsor .wpcsp-sponsor-grid:nth-of-type(1) {
		background: var(--template-pink-entry-header);
		margin-bottom: 24px;
		padding-bottom: 24px;
	}
	
}