/*--------------------------------------------------------------
# High Contrast Dark (Light Mode Inverted Colors)
--------------------------------------------------------------*/

body {
	--bg: Black;
	--fg: White;
}

select:focus {
	color: white;
}
